ul {
    margin-left: 0px;
  }
.header{
    display: none;
}
a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style: none;
}

@media screen and (max-width:764px){
    .header{
        display: block;
        color: #f2f2f2;
        margin:0px 0px;
    }        
    .content{        
        max-width: 300px;
        line-height: 20px;
        background-color:#000;        
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 5px; 
    }
    .menu-logo{
        background-color: #fff;
        width:30px;
        height: 30px;
        position: absolute;  
        border-radius: 5px;
    }
    .content h2{
        margin-left: 40px;    
    }

      
}